@inherits LayoutComponentBase

<PageTitle>Howest.MagicCards.Web</PageTitle>

<div class="page">
    <article class="content">
        <Header />
        @Body
    </article>
</div>

<style>
    article {
        margin-bottom: 2rem;
    }
</style>

