@page "/"

@inject CardService cardService

@using Howest.MagicCards.Shared.Filters;
@using Howest.MagicCards.Web.Services;

<div class="row">
    <div class="col-md-2 sticky-sidebar">
        <CardFilter @bind-Filter="filter" />
        <div class="pagination">
            <button class="btn btn-primary" disabled="@cardService.IsFirstPage" @onclick="() => cardService.GoToPreviousPage(filter)">Previous</button>
            <button class="btn btn-primary" disabled="@cardService.IsLastPage" @onclick="() => cardService.GoToNextPage(filter)">Next</button>
        </div>
    </div>
    <div class="col-md-6">
        <CardList />
    </div>
    <div class="col-md-4 sticky-sidebar">
        <Deck />
    </div>
</div>

<style>
    .sticky-sidebar {
        position: sticky;
        top: 1rem;
        margin-bottom: 1rem;
        height: calc(100vh - 2rem);
        overflow-y: auto;
    }

    .pagination {
        display: flex;
        justify-content: space-between;
        margin-top: 1rem;
    }

    .pagination-button {
        padding: 0.375rem 0.75rem;
        font-size: 0.875rem;
        border-radius: 0.25rem;
    }

    .pagination-button:disabled {
        opacity: 0.6;
        cursor: not-allowed;
    }
</style>

@code {
    private CardWebFilterV1_5 filter { get; set; } = new CardWebFilterV1_5();

    protected override async Task OnInitializedAsync()
    {
        await cardService.LoadCards();
    }
}